<%- include('partials/_header') %>
<div class="container mt-5">
    <div class="rows">
        <div class="col -md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id%>" method="post">
                        <div class="form.goup">
                            <input type="text" name="valueOne" value="<%= data.valueOne%>" class="from-control"> 
                        
                        </div>
                        <div class="form.goup">
                            <input type="text" name="valueTwo" value="<%= data.valueTwo%>" class="from-control"> 
                        
                        </div>
                        <button type="submit" class="btn btn-primary"> 
                            Editar operacion
                        </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>